/* header {
    display: flex;
    flex-direction: row;

}

.logo-image {
    align-items: center;
}

aside {
    margin-left: 20px;
    padding-top: 0;
}


button.recent-search {
    margin-top: 8%;
}

.search-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.hide {
    display:none;
}